<!DOCTYPE html>
<html>

<head>
  <title>Test Run - MSFP Markets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <style>
    dd {
      padding-bottom: 18px;
    }
    dt {
      padding-bottom: 3px;
    }
  </style>
</head>

<body>

  <div class="container">

    <div class="jumbotron">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
          <h2> Test Run - MSFP Markets </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
          <p> Submit source code, and we'll pit you against the bots from last round. </p>
          <p> <small> Use this to check your code for errors. </small> </p>
          <form method="POST" action="">
            <div>
              <label for="name">Name</label>
              {% if name %}
                <input type="text" name="name" value="{{ name }}">
              {% else %}
                <input type="text" name="name">
              {% endif %}
            </div>
            <div>
              <label for="code">Code</label>
              <textarea style="width: 500px; height: 400px;" name="code">{% if code %}{{code}}{% endif %}</textarea>
            </div>
            <div>
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>

      {% if error %}
        <div class="row" style="padding-bottom: 15px;">
          <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <h3> Your code had an error. <br> <small> <span style="color: darkred;">{{ error }}</span></small></h3>
          </div>
        </div>
      {% endif %}

      {% if run %}

        <div class="row" style="padding-bottom: 15px;">
          <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <h3> Bets <br> <small> Converged = {{ 'Yes' if converged else 'NO' }} </small></h3>
            {% for name, (bet_true, bet_false) in  bets.items() | orderBets %}
              <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-4">
                  {{ name }}
                </div>
                <div class="col-md-2 col-sm-3 col-xs-3">
                  <span style="color: darkgreen;">T: {{ '%.2f' % bet_true }}</span>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-3">
                  <span style="color: darkred;">F: {{ '%.2f' % bet_false }}</span>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

      {% endif %}

      <div class="row" style="padding-top: 5px;">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <a href="/">Back</a>
        </div>
      </div>

    </div>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>


